    <div class="col-md-3">
      <!-- ユーザーの詳細 -->
      <h3>User info</h3>
      <%= image_tag user.get_profile_image(100,100) %>
      <table class="table">
        <thead>
          <tr>
            <th>name</th>
            <th><%= user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= user.introduction %></th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      
      <div>
        <%= link_to edit_user_path(current_user), class: 'btn btn-outline-secondary btn-block' do %>
        <i class="fa-solid fa-user-gear"></i>
        <% end %>
      </div>
     
      
      <!-- 新規投稿フォーム -->
      <div class="row my-3">
        <h3>New book</h3>
        <%= form_with model: @book, url: '/books' do |f| %>
          <div>
            <label>Title</label>
            <div><%= f.text_field :title %></div>
          </div>
          <div>
            <label>Opinion</label>
            <div><%= f.text_area :body %></div>
          </div>
        	<div>
        	  <%= f.submit 'Create Book', class:'btn btn-sm btn-success' %>
        	</div>
        <% end %>
      </div>
      
    </div>
    
    <div class="col-md-1"></div>
