<div class="container">
  <div class="row my-4">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <!-- エラーメッセージ -->
      <% if @user.errors.any? %>
        <%= @user.errors.count %> errors prohibited this obj from being saved:
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <h3>User info</h3>
      <%= form_with model: @user do |f| %>
        <div>
          <label>Name</label>
          <div><%= f.text_field :name, size: 50 %></div>
        </div>
        
        <div>
          <label for="inputImage">Image</label>
          <div><%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %></div>
        </div>
        
        <div>
          <label>Introduction</label>
          <div><%= f.text_area :introduction, size: "50 x 5" %></div>
        </div>
        
        <div>
          <%= f.submit 'Update User', class:'btn btn-sm btn-secondary' %>
        </div>
      <% end %>
      
    </div>
  </div>
</div>
