<div class="container">
  <div class="row my-4">
    <%= render 'users/user_info', user: @user %>
    
    <div class="col-md-8 offset-md-1">
      <!-- 投稿詳細 -->
      <% if @user.id == current_user.id %>
        <h3>Book detail</h3>
          <table class="table">
            <thead></thead>
            <tbody>
              <tr>
                <td>
                  <%= image_tag @showbook.user.get_profile_image(100,100) %><br>
                  <%= link_to user_path(@showbook.user_id) do %><%= @user.name %><% end %>
                </td>
                <td><%= link_to book_path(@showbook.id) do %><%= @showbook.title %><% end %></td>
                <td><%= @showbook.body %></td>
                <td><%= link_to "Edit", edit_book_path(@showbook.id), class: 'btn btn-success' %></td>
                <td><%= link_to "Destroy", book_path(@showbook.id), method: :delete, class: 'btn btn-danger', "data-confirm" => "本当に消しますか？" %></td>
              </tr>
            </tbody>
          </table>
      <% else %>
        <h3>Book detail</h3>
          <table class="table">
            <thead></thead>
            <tbody>
              <tr>
                <td>
                  <%= image_tag @showbook.user.get_profile_image(100,100) %><br>
                  <%= link_to user_path(@showbook.user_id) do %><%= @user.name %><% end %>
                </td>
                <td><%= link_to book_path(@showbook.id) do %><%= @showbook.title %><% end %></td>
                <td><%= @showbook.body %></td>
              </tr>
            </tbody>
          </table>
      <% end %>
    </div>
</div>
